{% with messages = get_flashed_messages() %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<style>
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>

<body>
<div class="px-4 py-5 mt-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/pdf_logo.png" alt="" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Upload your PDF</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Presenting a seamless tool for transforming PDF files into spoken words. This app effortlessly converts any PDF into speech, making document accessibility easier than ever. Listen to your files on the go and experience the convenience of hands-free reading.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <form method="post" enctype="multipart/form-data" action="{{ url_for('convert') }}">
            <Label for="file">File</Label>
            <input id="file" name="file" type="file" />
              <button type="submit" class="btn btn-outline-secondary btn-sm px-4 gap-3 fs-6">Upload</button>
          </form>
      </div>
    </div>
</div>
<!--{% if 'loading' in messages %}-->
<!--<div class="container px-4 d-flex align-items-center justify-content-center">-->
<!--    <p class="loader"></p>-->
<!--</div>-->
<!--{% endif %}-->
{% if 'mp3_ready' in messages %}
<div class="px-4 my-5 text-center">
    <h4 class="text-body-emphasis">Success! Here is your audio file:</h4>
    <audio controls>
        <source src="{{ url_for('static', filename='speech-files/speech.mp3') }}" type="audio/mpeg">
    </audio>
</div>
{% endif %}
{% endwith %}
</body>

